<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studiomerge">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To autocomplete fields with the user's email accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Searching"
            android:label="@string/title_activity_searching"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8LfvDFKA8f4bN8Aeu1QZ4LqhkBdopkYg" />

        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login and Registration -->
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterDonor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterCharity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterSuccess"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Main Menu -->
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Profile -->
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Charity Booking -->
        <activity
            android:name=".BookingTime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewCalendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResults"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewBookings"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>